<html>
  <header>
    <div class="title">
      <h1><a href="/home">K1 Live</a></h1>
    </div>
    <ul class="navList">
      <li (click)="scroll(about)">About</li>
      <li (click)="scroll(contact)">Contact</li>
      <li><a href="/login" class="login">Login</a></li>
      <li><button routerLink ="/sign-up" class="signup">Signup</button></li>
    </ul>
  </header>
  <body>
    <div class="description">
      <div class="descTop">
        <h3>Live K1 / Muaythai</h3>
      </div>
    </div>
    <div class="events">
      <div class="eventCard">
        <div class="container">
          <div class="cardPoster">
            <div class="posterImg">
              <img src="/assets/poster.jpg" alt="" />
            </div>
          </div>
          <div class="bottomHalf">
            <div class="cardInformation">
              <div class="cardDate">
                <span>28th May 3pm</span>
              </div>
              <div class="cardTitle">
                <span>Unforgiven Fight Night V</span>
              </div>
              <div class="cardPrice">
                <span>LIVESTREAM TICKET : $12</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="curvedBorder"></div>
    <div class="about" #about>
      <div class="paragraph">
        <div class="aboutTitle">
          <h1>Setup your PPV in 5 minutes! ⏱️</h1>
        </div>
        <div class="text">
          <h5>
            K1.Live is a simple live streaming platform for combat sport events!
            Get <span class="highlight">PAID</span> for your events with
            <span class="highlight">little effort</span>.
          </h5>
          <h5>
            You can
            <span class="highlight">stream your PPV from your phone 📱</span>
            Suitable for <span class="highlight">Big events</span> and
            <span class="highlight">small interclubs</span>
          </h5>
        </div>
      </div>
      <div class="textImage">
        <span>🚀</span>
      </div>
    </div>
    <div class="content">
    <div class="ti">
      <h1>Hello there, how are you?</h1>
      <hr class="gradient-line" />
    </div>
    
    <div class="title">
      <h1 class="headline">Another way</h1>
    </div>
    
    <div class="title">
      <h1 class="main-headline">Large Headline</h1>
      <span class="subheadline">
        Subheadline instead of the line
      </span>
    </div>
    
  </div>

 

        <div class="guide">
          <div class="aboutTitle">
            <h3>How do I get setup and paid?</h3>
          </div>
          <div class="split">
            <div class="leftGuide">
              <div class="guideText">1. Quickly Signup</div>
              <div class="guideText">2. Get Setup with Stripe</div>
              <div class="guideText">3. Create your event</div>
              <div class="guideText">4. Link your Vimeo or Youtube livestream</div>
          </div>
          <div class="divider">
  
          </div>
          <div class="rightGuide">
              <div class="guideImage">IMAGE HERE</div>
              <div class="guideImage">IMAGE HERE</div>
              <div class="guideImage">IMAGE HERE</div>
              <div class="guideImage">IMAGE HERE</div>
          </div>
        </div>
    </div>

 <div class="contact" #contact>
 <h4><span style="color:#58fdd1">EMAIL</span> : Info@k1.live</h4>
 <h4><span style="color:#58fdd1">TEL</span>: 0838689176</h4>
</div>
</body>

  <footer>
  </footer>
</html>
