<html>
  <header>
    <div class="title">
      <h1><a href="/home">K1 Live</a></h1>
    </div>
    <ul class="navList">
      <li (click)="scroll(about)">About</li>
      <li (click)="scroll(contact)">Contact</li>
      <li><a href="/login" class="login">Login</a></li>
      <li><button routerLink ="/sign-up" class="signup">Signup</button></li>
    </ul>
  </header>
  <body>
    <div class="description">
      <div class="descTop">
        <h3>Live K1 / Muaythai</h3>
      </div>
    </div>
    <div class="events">
      <div class="eventCard">
        <div class="container">
          <div class="cardPoster">
            <div class="posterImg">
              <img src="/assets/poster.jpg" alt="" />
            </div>
          </div>
          <div class="bottomHalf">
            <div class="cardInformation">
              <div class="cardDate">
                <span>28th May 3pm</span>
              </div>
              <div class="cardTitle">
                <span>Unforgiven Fight Night V</span>
              </div>
              <div class="cardPrice">
                <span>LIVESTREAM TICKET : $12</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="curvedBorder"></div>
    <div class="about" #about>
      <div class="paragraph">
        <div class="aboutTitle">
          <h1>Setup your PPV in 5 minutes! ⏱️</h1>
        </div>
        <div class="text">
          <h5>
            K1.Live is a simple live streaming platform for combat sport events!
            Get <span class="highlight">PAID</span> for your events with
            <span class="highlight">little effort</span>.
          </h5>
          <h5>
            You can
            <span class="highlight">stream your PPV from your phone 📱</span>
            Suitable for <span class="highlight">Big events</span> and
            <span class="highlight">small interclubs</span>
          </h5>
        </div>
      </div>
      <div class="textImage">
        <span>🚀</span>
      </div>
    </div>

    <div class="uses" #uses>
      <div class="top">
        <div class="useA">
          <div class="useTop">
            <span class="iconUseCases">⚡</span>
          </div>
          <div class="useBottom">
            <span class="useText">Get setup in 5 minutes!</span>
          </div>
        </div>
        <div class="useB">
          <div class="useTop">
            <span class="iconUseCases">⚙️</span>
          </div>
          <div class="useBottom">
            <span class="useText">Expert Tech Support</span>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="useC">
          <div class="useTop">
            <span class="iconUseCases">💰</span>
          </div>
          <div class="useBottom">
            <span class="useText">Monetise events easily</span>
          </div>
        </div>
        <div class="useD">
          <div class="useTop">
            <span class="iconUseCases">🎥</span>
          </div>
          <div class="useBottom">
            <span class="useText">Stream from your phone!</span>
          </div>
        </div>
      </div>
      <div class="guide">
        <div class="leftGuide">
          <div class="guideText"></div>
        </div>
        <div class="rightGuide">
          <div class="guideTitle"></div>
          <div class="guideSteps"></div>
        </div>
      </div>
      <div class="contact" #contact>
        <div class="contactDetails">
          <h5 style="font-family: poppins-bold;">Email : Info@K1.live</h5>
          <h5>
            Join our mailing list to keep updated or email us any questions you
            may have
          </h5>
        </div>
        <div class="mailchimp">
          <!-- Begin Mailchimp Signup Form -->
          <link
            href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css"
            rel="stylesheet"
            type="text/css"
          />
          <style type="text/css">
            #mc_embed_signup{background:rgb(255, 239, 239); clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
            <form
              action="https://gmail.us7.list-manage.com/subscribe/post?u=9d29dd6ceaa6c32910256280a&amp;id=282e9dbb74"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              target="_blank"
              novalidate
            >
              <div id="mc_embed_signup_scroll">
                <h2>Subscribe</h2>
                <div class="indicates-required">
                  <span class="asterisk">*</span> indicates required
                </div>
                <div class="mc-field-group">
                  <label for="mce-EMAIL"
                    >Email Address <span class="asterisk">*</span>
                  </label>
                  <input
                    type="email"
                    value=""
                    name="EMAIL"
                    class="required email"
                    id="mce-EMAIL"
                  />
                </div>
                <div id="mce-responses" class="clear foot">
                  <div
                    class="response"
                    id="mce-error-response"
                    style="display:none"
                  ></div>
                  <div
                    class="response"
                    id="mce-success-response"
                    style="display:none"
                  ></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div
                  style="position: absolute; left: -5000px;"
                  aria-hidden="true"
                >
                  <input
                    type="text"
                    name="b_9d29dd6ceaa6c32910256280a_282e9dbb74"
                    tabindex="-1"
                    value=""
                  />
                </div>
                <div class="optionalParent">
                  <div class="clear foot">
                    <input
                      type="submit"
                      value="Subscribe"
                      name="subscribe"
                      id="mc-embedded-subscribe"
                      class="button"
                    />
                    <p class="brandingLogo">
                      <a
                        href="http://eepurl.com/hmFrYL"
                        title="Mailchimp - email marketing made easy and fun"
                        ><img
                          src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"
                      /></a>
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <script
            type="text/javascript"
            src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
          ></script>
          <script type="text/javascript">
            (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);
          </script>
          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </body>

  <footer></footer>
</html>
